body {
	background-color: #232323;
}
h1 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: center;
	margin: 0 0 8px 0;
}
h2 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: center;
	font-size: 1.2em;
	margin: 0 0 4px 0;
}
h3 {
	font-family: 'Quicksand', sans-serif;
	color: white;
	text-align: center;
	font-size: 0.8em;
	margin: 0 0 10px 0;
}
.circle {
	border-radius: 50%;
	width: 60px;
	height: 60px; 
	margin: 0 auto;
	margin-top: 20px;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20px;
}
